.tourney {
  margin: 25px 10px 10px 20px; }
  .tourney table.group {
    width: 250px;
    margin-right: 10px; }
    .tourney table.group td {
      padding: 4px;
      width: 20px;
      font-size: 0.9em; }
      .tourney table.group td.player-name {
        width: auto; }
      .tourney table.group td.score {
        text-align: center; }
    .tourney table.group tr.w td {
      background-color: #9f9; }
    .tourney table.group tr.l td {
      background-color: #faa; }
    .tourney table.group table.matches-table {
      width: 100%; }
  .tourney .bracket {
    clear: both;
    position: relative; }
    .tourney .bracket .match {
      position: absolute;
      background-color: #ccc;
      border: 1px solid #999;
      width: 100px;
      height: 40px;
      overflow: hidden; }
      .tourney .bracket .match .player {
        float: left;
        width: 85px;
        height: 20px;
        line-height: 20px;
        display: block;
        padding-left: 2px;
        font-size: 12px; }
      .tourney .bracket .match .score {
        width: 12px;
        height: 40px;
        display: block;
        float: right; }
        .tourney .bracket .match .score div {
          height: 20px;
          line-height: 20px;
          font-size: 12px;
          text-align: center; }
    .tourney .bracket .stage-name {
      position: absolute;
      height: 15px;
      padding-left: 5px;
      font-weight: bold; }